<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head">&nbsp;
    
</head>
<body>
    <div th:replace="fragments/header :: header">&nbsp;</div>
<br>
<div class="home-content no-gutters">
    <div class="col-md-6 no-gutters">
        <div class="leftside d-flex justify-content-center align-items-center">
            <ul>
                <li>
                    <h1 style="color:#fff; text-align: center;">Hotels
                    </h1>
                </li>
                <li class="text-center">
                    <a th:href="@{/hrms/hotels/usr}" class="btn btn-primary btn-sm mb-3"> Explore </a>
                </li>
            </ul>        
        </div>
    </div>
    <div class="col-md-6 no-gutters">
        <div class="rightside d-flex justify-content-center align-items-center">
            <ul>
                <li>
                    <h1 style="color:#fff; text-align: center;">Restaurants
                    </h1>
                </li>
                <li class="text-center">
                    <a th:href="@{/hrms/restaurants/usr}"  class="btn btn-primary btn-sm mb-3"> Explore </a>
                </li>
            </ul> 
        </div>
    </div>
</div>
<!--    <div class="row">-->
<!--        <div class="col-lg-3">-->
<!--            <a th:href="@{/hrms/employees/new}" class="btn btn-primary btn-sm mb-3"> Add Employee </a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <table class="table table-striped table-bordered" >-->
<!--        <thead class="table-dark">-->
<!--        <tr>-->
<!--            <th class="text-center"> First Name </th>-->
<!--            <th class="text-center"> Last Name </th>-->
<!--            <th class="text-center"> Job Position </th>-->
<!--            <th class="text-center"> Actions </th>-->
<!--        </tr>-->
<!--        </thead>-->

<!--        <tbody>-->
<!--        <tr th:each="employee: ${employees}">-->
<!--            <td th:text = "${employee.firstName}"></td>-->
<!--            <td th:text = "${employee.lastName}"></td>-->
<!--            <td th:text = "${employee.jobPosition}"></td>-->
<!--            <td>-->
<!--                <a th:href = "@{/hrms/employees/edit/{employeeId}(employeeId = ${employee.employeeId})}"-->
<!--                   class = "btn btn-primary">Update</a>-->

<!--                <a th:href = "@{/hrms/employees/details/{employeeId}(employeeId = ${employee.employeeId})}"-->
<!--                   class = "btn btn-primary">Details </a>-->

<!--                <a th:href = "@{/hrms/employees/{employeeId}(employeeId = ${employee.employeeId})}"-->
<!--                   class = "btn btn-danger">Delete </a>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
</div>
<div th:replace="fragments/footer :: footer">&nbsp;</div>
</body>
</html>