<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head">&nbsp;
    
</head>
<body>
    <div th:replace="fragments/header :: header">&nbsp;</div>
<br>
<div class="container">
    <div class="row">
        <h1> Explore Hotels </h1>
    </div>
    <br>
    <!-- <table class="table table-striped table-bordered" >
        <thead class="table-dark">
        <tr>
            <th class="text-center"><a th:href="@{'/hrms/hotels/usr/page/' + ${currentPage} + '?sortField=name&sortDirection=' + ${reverseSortDirection}}"> Name </a></th>
            <th class="text-center"><a th:href="@{'/hrms/hotels/usr/page/' + ${currentPage} + '?sortField=star&sortDirection=' + ${reverseSortDirection}}"> Star </a></th>
            <th class="text-center"><a th:href="@{'/hrms/hotels/usr/page/' + ${currentPage} + '?sortField=location&sortDirection=' + ${reverseSortDirection}}"> Location </a></th>
            <th class="text-center"> Actions </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="hotel: ${hotels}">
            <td th:text = "${hotel.name}"></td>
            <td th:text = "${hotel.star}"></td>
            <td th:text = "${hotel.location}" ></td>
            <td>
                <a th:href = "@{/hrms/hotels/usr/details/{hotelId}(hotelId = ${hotel.hotelId})}"
                   class = "btn btn-info">Details </a>
            </td>
        </tr>
        </tbody>
    </table> -->
    <div class="service-container" th:each="hotel: ${(hotels)}">
        <div class="row">
            <div class="col-lg-3">
                <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0e/7c/d3/10/liwa-hotel.jpg?w=1200&h=-1&s=1" width="250px" height="170px">
            </div>
            <div class="col-lg-7">
                <p>Hotel Name - [[${hotel.name}]]</p>
                <p>Hotel Distance - [[${hotel.distance}]] Kms from BITS Pilani</p>
            </div>
            <div class="col-lg-2 d-flex justify-content-center align-items-center">
                <a th:href = "@{/hrms/hotels/usr/{hotelId}(hotelId = ${hotel.hotelId})}"
                   class = "btn btn-info">Details </a>
            </div>
        </div>
    </div>
</div>
<br>
<div style="margin-left: 183px">
    Total items: [[${totalItems}]] - Page [[${currentPage}]] of [[${totalPages}]]
    &nbsp;
</div>
<br>
<div style="margin-left: 183px">
    <a th:if="${currentPage > 1}" th:href="@{'/hrms/hotels/usr/page/1?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">First</a>
    <span th:unless="${currentPage > 1}">First</span> &nbsp;&nbsp;

    <a th:if="${currentPage > 1}" th:href="@{'/hrms/hotels/usr/page/' + ${currentPage-1} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Previous</a>
    <span th:unless="${currentPage > 1}">Previous</span> &nbsp;&nbsp;

    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
        <a th:if="${i != currentPage}" th:href="@{'/hrms/hotels/usr/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">[[${i}]]</a>
        <span th:unless="${i != currentPage}">[[${i}]]</span> &nbsp;&nbsp;
    </span>

    <a th:if="${currentPage < totalPages}" th:href="@{'/hrms/hotels/usr/page/' + ${currentPage+1} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Next</a>
    <span th:unless="${currentPage < totalPages}">Next</span> &nbsp;&nbsp;

    <a th:if="${currentPage < totalPages}" th:href="@{'/hrms/hotels/usr/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Last</a>
    <a th:unless="${currentPage < totalPages}">Last</a>
</div>
<br>
<br>
<br>
</body>
</html>