<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Hotel Management System</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" th:href="@{/hms/admin_home}">Hotel Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link bg-dark" th:href="@{/hms/guests}">Guests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bg-dark" th:href="@{/hms/employees}">Employees</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bg-dark" th:href="@{/hms/users}">Registered Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bg-dark" th:href="@{/hms/hotels}">Hotels</a>
      </li>
      <li class="nav-item">
        <a class="nav-link bg-dark" th:href="@{/hms/rooms}">Rooms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white bg-dark" style="margin-left: 270px">Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white bg-primary" th:href="@{/hms/logout}">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<div class="container">
  <div class="row">
    <h1> All Rooms </h1>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <a th:href="@{/hms/rooms/new}" class="btn btn-primary btn-sm mb-3"> Add Room </a>
      <a th:href="@{/hms/hotels}" class="btn btn-primary btn-sm mb-3"> View All Hotels </a>
    </div>
  </div>
  <table class="table table-striped table-bordered" >
    <thead class="table-dark">
    <tr>
      <th class="text-center"><a th:href="@{'/hms/rooms/page/' + ${currentPage} + '?sortField=name&sortDirection=' + ${reverseSortDirection}}"> Name </a></th>
      <th class="text-center"><a th:href="@{'/hms/rooms/page/' + ${currentPage} + '?sortField=price&sortDirection=' + ${reverseSortDirection}}"> Price (in USD) </a></th>
      <th class="text-center"><a th:href="@{'/hms/rooms/page/' + ${currentPage} + '?sortField=hotel&sortDirection=' + ${reverseSortDirection}}"> Hotel </a></th>
      <th class="text-center"> Actions </th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="room: ${rooms}">
      <td th:text = "${room.name}"></td>
      <td th:text = "${room.price}"></td>
      <td th:text = "${room.hotel.name}"></td>
      <td>
        <a th:href = "@{/hms/rooms/edit/{roomId}(roomId = ${room.roomId})}"
           class = "btn btn-primary">Update</a>

        <a th:href = "@{/hms/rooms/details/{roomId}(roomId = ${room.roomId})}"
           class = "btn btn-info">Details </a>

        <a th:href = "@{/hms/rooms/{roomId}(roomId = ${room.roomId})}"
           class = "btn btn-danger">Delete </a>
      </td>
    </tr>
    </tbody>

  </table>

</div>
<br>
<div style="margin-left: 183px">
  Total items: [[${totalItems}]] - Page [[${currentPage}]] of [[${totalPages}]]
  &nbsp;
</div>
<br>
<div style="margin-left: 183px">
  <a th:if="${currentPage > 1}" th:href="@{'/hms/rooms/page/1?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">First</a>
  <span th:unless="${currentPage > 1}">First</span> &nbsp;&nbsp;

  <a th:if="${currentPage > 1}" th:href="@{'/hms/rooms/page/' + ${currentPage-1} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Previous</a>
  <span th:unless="${currentPage > 1}">Previous</span> &nbsp;&nbsp;

  <span th:each="i: ${#numbers.sequence(1, totalPages)}">
        <a th:if="${i != currentPage}" th:href="@{'/hms/rooms/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">[[${i}]]</a>
        <span th:unless="${i != currentPage}">[[${i}]]</span> &nbsp;&nbsp;
    </span>

  <a th:if="${currentPage < totalPages}" th:href="@{'/hms/rooms/page/' + ${currentPage+1} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Next</a>
  <span th:unless="${currentPage < totalPages}">Next</span> &nbsp;&nbsp;

  <a th:if="${currentPage < totalPages}" th:href="@{'/hms/rooms/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">Last</a>
  <a th:unless="${currentPage < totalPages}">Last</a>
</div>
<br>
<br>
<br>
</body>
</html>