<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head">&nbsp;
    
</head>
<body>
    <div th:replace="fragments/header :: header">&nbsp;</div>
<br>
<div class="container">
    <div class="row">
        <h1> Tables Available <a style="margin-left: 700px" th:href="@{/hrms/restaurants/usr}"
                               class="btn btn-primary">Back to Restaurants</a> </h3></h1>
    </div>

    <table class="table table-striped table-bordered" >
        <thead class="table-dark">
        <tr>
            <th class="text-center"> Name </th>
            <th class="text-center"> Price (in USD) </th>
            <th class="text-center"> Restaurant  </th>
            <th class="text-center"> Actions </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="table: ${tables}">
            <td th:text = "${table.name}"></td>
            <td th:text = "${table.price}"></td>
            <td th:text = "${table.restaurant.name}"></td>
            <td>
                <a th:href="@{/hrms/guests/new}"
                   class = "btn btn-primary">Book Now</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>